<section>
    <div class="row">
        <div class="col-auto mb-2">
        
            <img src="https://www.pikpng.com/pngl/b/203-2038339_cute-anime-png-cute-anime-girl-transparent-clipart.png" alt="">
    </div>
       
        <div class="col">
            <h1>{{intro.information.title}}</h1>
            <p>{{intro.information.paragraph}}</p>
            <p>{{intro.information.firstGen}}</p>
            <p>{{intro.information.description}}</p>
            <p>{{intro.information.latePast}}</p>
            
        </div>
    </div>
    <div class="historyRoutes">
        <a routerLink="/" class="btn-danger btn mt-2">Main page</a>

        <a routerLink="/gallery"  class="btn-danger btn mt-2">Let's Travel</a>
    </div>
</section>