<footer>
    <div class="container">
        <ul class="nav justify-content-center align-items-center">

            <li class="nav-item">
                <a class="navbar-brand" routerLink="/"><img src="../../../assets/animelogo.png" alt=""></a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page"routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/history" routerLinkActive="active">Read more</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/gallery" routerLinkActive="active">Fantasy world</a>
            </li>
        </ul>
    </div>
</footer>